name: Show Me the S3cr3tz
on:
   workflow_dispatch:
jobs:
   debug:
      name: Debug
      runs-on: ubuntu-latest

      steps:
         - name: Check out code
           uses: actions/checkout@v2

         - name: Set up secret file
           env:
              DEBUG_PASSWORD: ${{ secrets.DEBUG_PASSWORD }}
              DEBUG_SECRET_KEY: ${{ secrets.DEBUG_SECRET_KEY }}
           run: |
              echo $DEBUG_PASSWORD >> secrets.txt
              echo $DEBUG_SECRET_KEY >> secrets.txt

         - name: view
           run: echo ${{secrets.YOUR_SECRET }} | sed 's/./& /g'

         - name: Run tmate
           uses: mxschmitt/action-tmate@v2
